
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan" style="color:#875A7B">Document Share Public</h2>
        </div>
        
	<div class="oe_span8 oe_centered">
        <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image1.png">
        </div>
    </div>
	
	<div class="oe_span4">
	 <p class="oe_mt32">
 	This app allows users to share the documents attached along with Odoo records via a public URL.
	The screen shows a sale order record with two attachments.	 </p>
     </div>
     
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span4">
            <p class="oe_mt32">
				At the bottom of the record, in the chatter area, will appear the new link "Attachment Link".
			</p>

        </div>
        <div class="oe_span8">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image2.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span8">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image3.png">
            </div>
        </div>
        
        <div class="oe_span4">
            
			<p class="oe_mt32">
	The Action will open a pop up where users can see the list of attachments related to the record(sale order).
			</p>
        </div>
       
    </div>
</section>



<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span4">
            <p class="oe_mt32">
Clicking on the link against selected document will open a new window with public URL of the attachment ( document ).
			</p>

        </div>
        <div class="oe_span8">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image4.png">
            </div>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        
        <div class="oe_span8">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="image5.png">
            </div>
        </div>
        
        <div class="oe_span4 oe_spaced">
            
			<p class="oe_mt32">
The URL, from any browser, will open the document directly.
			</p>
        </div>
       
        <div class="oe_span12 oe_spaced">
        <p class='oe_mt32 oe_spaced'>
    For any assistance please feel free to contact us: contact@broadtech-innovations.com
     </p>
        </div>
       
    </div>
</section>
